body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    margin: 0;
    background-image: url("images/bg-header-desktop.png");
    background-repeat: no-repeat;
    color: hsl(201, 11%, 66%);
    line-height: 1.7;
    min-width: 320px;

}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 115px 0;
}

header img {
    margin-bottom: 30px;
}

header p {
    width: 50%;
    margin: 0;
    margin-bottom: 45px;
    font-size: 19px;
}

h1 {
    font-size: 2.7rem;
    margin: 20px;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: -5px;
}

h3 {
    margin-bottom: 8px;
    margin-top: 22px;
    font-size: 1.5rem;
}

h3+p {
    font-size: 16px;
}


section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;  
    margin-bottom: 130px;  
}

section p {
    width: 50%;
    margin-bottom: 80px;
}

.your-snippets {
    display: flex;
    text-align: left;
    width: 100%;
}

#img-computer {
    object-position: -30px 0;
}

.snippets {
    display: flex;
    flex-direction: column;
    margin: 3.5% 0 0 6%;
    
}

.snippets p {
    margin: 0;
    margin-bottom: 21px;
    width: 57%;
}

.header {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
}

.clipboard {
    margin-bottom: 60px;
}

.clipboard p {
    margin-bottom: 60px;
}

.workflow-tools {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 150px;
    margin-bottom: -60px;
    align-items: flex-start;
}

.workflow-tools p {
    width: 90%;
}

.workflow-tools div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workflow-tools img {
    margin-bottom: 20px;
}

#icon-backlist {
    margin-bottom: 12px;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.logos img {
    margin: 30px 45px;
}

.buttons {
    display: flex;
}

.button-ios, .button-mac {
    color: white;
    margin: 0 8px;
    padding: 15px 30px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    border-radius: 2em;
    letter-spacing: 0.1rem;
}

.button-ios {
    background-color: hsl(171, 66%, 44%);
    border: 1px solid hsl(171, 66%, 35%); 
    border-bottom: 3px solid hsl(171, 66%, 35%);
    border-top: none;
    box-shadow: 0 .7rem 1.5rem hsl(171, 66%, 44%, 0.2);

}

.button-ios:hover {
    cursor: pointer;
    background-color: hsla(171, 66%, 44%, 0.7);
    transition: background-color 300ms;
}

.button-mac {
    background-color: hsla(233, 100%, 69%);
    border: 1px solid hsl(233, 100%, 60%); 
    border-bottom: 3px solid hsl(233, 100%, 60%);
    border-top: none;
    box-shadow: 0 .5rem 1.2rem hsla(233, 100%, 69%, 0.15);
}

.button-mac:hover {
    cursor: pointer;
    background-color: hsla(233, 100%, 69%, 0.7);
    transition: background-color 300ms;

}

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-around;
    background-color: hsl(201, 11%, 66%, 0.12);
    padding: 25px 40px;
    font-size: 17px;

}

#footer-logo {
    width: 55px;
    height: 55px;
    margin: 20px 0 10px 0;
}

.links {
    display: flex;
    flex-direction: row;
    margin-left: -180px;
}

.links div {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: hsl(210, 10%, 33%);
    margin: 7px 0;
}

a:hover {
    color: hsl(171, 66%, 44%);
    transition: color fill 300ms;

}

#social-media {
    flex-direction: row;
    margin: 40px 0;
}

#social-media a {
    margin: 0px 9px;
}

path:hover {
    fill: hsl(171, 66%, 44%);
    transition: fill 200ms;
}


.attribution {
    font-size: 11px;
    text-align: center;
    display: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
